@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Nosifer&display=swap');


.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    flex-wrap: wrap;
 

}
.big{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading h1{
    font-family: 'Nosifer', cursive;
    margin-top: 50px;
}

